<%- include header %>
<script type="text/javascript" src="/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript">
    $(pageInit);
    function pageInit()
    {
        $.extend(XHEDITOR.settings,{shortcuts:{'ctrl+enter':submitForm}});
        $('#content').xheditor({html5Upload:false,upMultiple:'1',upLinkUrl:"/question/uploadFile",upLinkExt:"zip,rar,txt",upImgUrl:"/question/uploadImg",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"/question/uploadFlash",upFlashExt:"swf",upMediaUrl:"/question/uploadMedia",upMediaExt:"wmv,avi,wma,mp3,mid"});
    }
    function insertUpload(arrMsg)
    {console.log(arrMsg)
        var i,msg;
        for(i=0;i<arrMsg.length;i++)
        {
            msg=arrMsg[i];
            $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>');
        }
    }
    function submitForm(){$('#frmDemo').submit();}
</script>
<table align='center' border="1">
    <tr>
        <td rowspan="2" valign="top"><%=rs[0].nickname%></td>
        <td align="center"><%=rs[0].title%></td>
    </tr>
    <tr>
        <td><%-rs[0].content%></td>
    </tr>
    <tr>
        <td colspan="2">
            <%-rs[0].renum%>个回答
            <hr style="border:1px solid;margin:0px;">
        </td>
    </tr>
    <%
    if(rsReply!=undefined){
        rsReply.forEach(function(row){
    %>
    <tr>
        <td>
            <%-row['nickname']%><br/>
            <%-row['createtime']%>
        </td>
        <td><%-row['content']%></td>
    </tr>
    <%
        });
    }
    %>
    <tr>
        <td colspan="2" align="center">
            <form method="post" action="./reply">
            <% if(loginbean == undefined){%>
                请<a href="javascript:document.getElementById('loginBtn').click()">登陆</a>后回答
            <%}else{%>
                <textarea id="content" name="content" cols="120" rows="9"></textarea>
                <br>
                <input type="hidden" name="subflag" value="1"/>
                <input type="hidden" name="qid" value="<%=rs[0].qid%>"/>
                <input type="submit" value="回答"/>
             <%}%>
            </form>
        </td>
    </tr>
</table>
<!--- 注册模态框 ---->
<div class="modal fade" id="loginModal" style="left: 33%;height: 640px;width:420px ">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 640px;width:420px">
            <!--------href内容----------------->
            modal
            <!--------------------------------->
        </div>
    </div>
</div>
</body>
</html>